<mat-toolbar color="primary">
  <a mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></a>
  <h1 class="app-name">Karauet</h1>
  <a mat-icon-button routerLink="/compra"><mat-icon>shopping_cart</mat-icon></a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode="push" >
     <mat-nav-list>
        <a (click)="snav.toggle()" mat-list-item routerLink="/inicio">Inicio</a>
        <a (click)="snav.toggle()" mat-list-item routerLink="/pedido">Has tu pedido</a>
        <a (click)="snav.toggle()" mat-list-item routerLink="/resenas">Resenas</a>

     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
